@page
@model SearchModel
@{
    ViewData["Title"] = "Search";
}

<form method="post">
    <div class="form-group">
        <label for="processId">Process Id</label>
        <input type="text" class="form-control" name="processId"> 
    </div>
    <div class="form-group">
        <label for="runId">Run Id</label>
        <input type="text" class="form-control" name="runId" required> 
    </div>
    <div class="form-group">
        <label for="time">Time</label>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" name="timeVector" placeholder="example: [1,2,0]"> 
            </div>
            <div class="col">
                <select name="time" asp-items="Model.Options" class="form-control"></select>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Найти">
</form>